.links {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.carCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  /* background-color: red; */
}

.imgCnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  width: 60%;
  border-radius: 20px;
}

.driverImg {
  width: 10%;
}
