.splashbg {
  position: relative;
  min-height: 100vh;
  margin-left: -260px;
}

.splashbg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1575496917055-f23c822796eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.splashbg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb400;
  opacity: 0.8;
}

.header {
  z-index: 3;
  font-family: var(--pacifico);
  font-size: 75px;
  letter-spacing: 1px;
  margin: 130px 0 100px;
}

.btncontainer {
  margin-top: 0;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .splashbg {
    margin-left: 0;
  }

  .header {
    font-size: 50px;
  }
}
