.cnt {
  height: 100vh;
  position: relative;
  padding-top: 50px;
}

.cnt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1535448580089-c7f9490c78b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1321&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.cnt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-green);
  opacity: 0.8;
}

.hr {
  width: 50%;
  border: 1px solid #fff;
  z-index: 3;
}

.input {
  width: 200px;
  border-radius: 25px;
  background-color: var(--primary-green);
  color: #fff;
  border-color: #fff;
}

.input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: 100;
}

.btn {
  height: 42.25px;
  color: var(--primary-green);
  background-color: #fff;
  border-color: var(--primary-green);
  font-size: 17px;
  font-weight: 500;
  border-radius: 25px;
  margin-bottom: 14px;
}

.btn:hover {
  background-color: var(--primary-green) !important;
  border-color: #fff !important;
  color: #fff !important;
}

.zindex {
  z-index: 3;
}

@media screen and (max-width: 1250px) {
  .form {
    flex-direction: column;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .input {
    width: 150px;
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
  }
}
