.title {
  margin-left: 260px;
}

.carCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  margin-left: 260px;
}

.imgCnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  min-height: 350px;
  max-height: 351px;
  object-fit: cover;
  min-width: 250px;
  max-width: 250px;
  border-radius: 20px;
}
